<!doctype html>
<html lang="en">
  <head>
    <title><%= site_title %></title>

    <!-- META
    ================================================== -->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="<%= base_url %>assets/css/app.css">

  </head>
  <body class="page-<%- current.path[0] %>">
    <!--[if lt IE 8]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->


    <%- yield %>


    <!-- JS
    ================================================== -->
    <script src="<%= base_url %>assets/bower/jquery/dist/jquery.min.js"></script>
    <script src="<%= base_url %>assets/js/app.js"></script>

  </body>
</html>
